body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

HTML SCSSResult Skip Results Iframe EDIT ON * {
  margin: 0;
  padding: 0;
}

.footerrr {
  /* overflow: hidden;
  height: 100vh; */
  background: black;
}
.yo {
  /* overflow: hidden;
  height: 100vh; */
  background: lightblue;
}

element.style {
}
#bodyBottom {
  position: relative;
  clear: both;
  padding: 20px 0 10px 0;
  background-color: #111111;
}
element.style {
}
#bodyTop {
  position: relative;
  clear: both;
  /* padding: 0.2px 0 1px 0; */
  background-color: #111111;
  padding: 0.7px;
  /* border: 0.3px solid #4caf50; */
}

.signature {
  text-align: right;
  color: white;
}
.tighty {
  text-align: right;
  /* color: white; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
